body {
  background-color: #fff; /* Sets the background color of the page to white */
  justify-content: center; /* Horizontally centers the content within the body using Flexbox */
  align-items: center; /* Vertically centers the content within the body using Flexbox */
  display: flex; /* Makes the body a flex container, allowing for flexible layout and centering */
  height: 100vh; /* Sets the height of the body to 100% of the viewport height */
  margin: 0; /* Removes the default margin around the body */
}
input[type="text"],
select,
textarea {
  width: 100%; /* Full width of the container */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
  height: 300px; /* Sets a default height for the textarea */
  font-size: 16px;
  border: 2px solid #ddd;
  box-sizing: border-box; /* Ensures padding doesn't increase total width */
}

.container {
  background-color: #fae5d3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 700px;
}

input[type="text"] {
  resize: vertical;
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
}
